<div>
  <h1>Stupid Coaching</h1>
  <div>
    <p>Ask your coach anything</p>
    <form action="/answer_question" method="get">
      <input type="text" name="ask" placeholder="Ask your coach anything!">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
